.nav {

    background-color: #c2cfe7;
    min-height: 300px;
    padding: 10px;




}
.item {
    border-bottom: 1px solid #afa9eb;
    width: 90%;
    padding: 7px;
    font-size: 1.1em;

}

.item a {

    text-decoration: none;

    color: #51515d;


}

.item a:active, .item a:focus {

    color: #000000;
}
@media screen and (max-width: 480px) {
    .nav {
        width: 100%;
        margin: 0;
        padding: 10px;}
}