.main {
    background-color: #c0d0e9;
    padding: 10px;

}
.main h3 {
    padding: 0; margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: normal;
}
.main h2 {
    padding: 0; margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
}

.textarea1 {
    width: 80%;
    border: none;
    resize: none;
    height: 200px;
    overflow: auto;
}
.textarea2 {
    width: 80%;
    border: none;
    resize: none;
    height: 100px;
    overflow: auto;
}
.main textarea:focus, textarea:active {
    outline: none;
}
.main button {
    padding: 9px;
    width: 180px;
    margin-top: 30px;
    border: none;
    outline: none;
    color: #282c34;

}
.but {
    text-align: right;
}