
.author {

    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 10px;
}

/*
@media screen and (max-width: 480px) {
    .author {
        display: grid;
        grid-template-columns:none;
        grid-template-rows:  1fr 1fr;
        grid-gap: 10px;
        margin: 0;
    }
}*/
