
.app-wripper {

    width: 80%;
    margin: 0 10%;
    padding: 10px;

}

/*
@media screen and (max-width: 480px) {
    .app-wripper {
        width: 100%;
        margin: 0;
        padding: 10px;}
}*/
